name: Create release

on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number (optional)'
        required: false
        default: ''
      run_id:
        description: 'GitHub Actions Run ID (optional)'
        required: false
        default: ''
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare environment
        run: |
          wget https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh
          bash Miniforge3-Linux-x86_64.sh -b -p $HOME/miniforge
          eval "$(${HOME}/miniforge/bin/conda shell.bash hook)"
          conda install --yes "python>=3.8" packaging requests uritemplate
      - name: Create release
        run: |
          eval "$(${HOME}/miniforge/bin/conda shell.bash hook)"
          scripts/make_release.py \
            --token="${{ secrets.GITHUB_TOKEN }}" \
            --run-id="${{ github.event.inputs.run_id }}" \
            --version="${{ github.event.inputs.version }}"
